appnope==0.1.0
boto==2.48.0
boto3==1.5.23
botocore==1.8.37
bz2file==0.98
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
decorator==4.2.1
docutils==0.14
gensim==3.3.0
idna==2.6
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
jmespath==0.9.3
jupyter-client==5.2.2
jupyter-core==4.4.0
matplotlib==2.1.2
numpy==1.14.0
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pyzmq==16.0.4
requests==2.18.4
s3transfer==0.1.12
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smart-open==1.5.6
tornado==4.5.3
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
